html
	head
		title Welcome
		link(rel="stylesheet" href="/style/slide.css")
	body
		div.slideshow#slideshow
			each item in data
				div
					div(style="position:relative")
						div.box-img(style="background-image:url('" + item.image + "')")
						div.box-caption
							h1.title= item.title
							div.clear
							h2.desc= item.desc
							div.clear
	script(src="/js/jquery.min.js")
	script(src="/js/slide.js")
	script(src="/js/socket.io.js")
	script.
		var socket = io.connect('http://127.0.0.1:7080');
		socket.on('connect', function() {
		})

		socket.on("refreshPage", function(data) {
			if (data.refresh == true) {
				window.location.reload();		
			}
		})
