div(class="breadcrumbs" id="breadcrumbs")
	script(type="text/javascript").
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

	ul(class="breadcrumb")
		li
			i(class="ace-icon fa fa-home home-icon")
			a(href="/dashboard") Home
		li(class="active") Item


div.page-content
	div(class="page-header")
		h1 Items
			small
				i(class="ace-icon fa fa-angle-double-right") 
				| &nbsp; View & Add Item

	div.row
		div.col-md-6
			div#proses
			form#tambahImage(data-type="tambah")
				div.form-group
					label.label-control(for="caption") Caption
					input.form-control#caption(type="text" autocomplete="off")
				div.form-group
					label.label-control(for="description") Description
					textarea.form-control#description
				div.form-group
					div#preview-img This is your image
					input.form-control(type="file" autocomplete="off" style="display:none" onchange='readURL(this)')#file
					button.btn.btn-lg.btn-info(type="button" onclick="clickUpload()")#btnUpload Upload Images
				div.form-group
					button.btn.btn-lg.btn-success(type="submit") Submit
					| &nbsp; 
					button.btn.btn-lg.btn-danger(type="button" style="display:none")#btnCancel Cancel
		div.col-md-6
			div.img-list
				ul.ace-thumbnails.clearfix
					each gambar in gambars
						li
							a(href="#" data-rel="colorbox" class="cboxElement")
								div(alt="150x150" style="background-image:url('" + gambar.gambar + "')").img-thumb
								div(class="text")
									div(class="inner")
										span= gambar.caption.toUpperCase()
							div.tools.tools-bottom
								a(onclick="edit('" + gambar._id + "', '" + gambar.caption + "', '" + gambar.desc + "', '" + gambar.gambar + "')" title='Edit')
									i.ace-icon.fa.fa-pencil
								a(onclick="removeItem('" + gambar._id + "')" title='Remove')
									i.ace-icon.fa.fa-trash-o

script(src="/js/item.js")