div(class="breadcrumbs" id="breadcrumbs")
	script(type="text/javascript").
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

	ul(class="breadcrumb")
		li
			i(class="ace-icon fa fa-home home-icon")
			a(href="#") Home
		li(class="active") Dashboard

div.page-content
	div(class="page-header")
		h1 Dashboard
			small
				i(class="ace-icon fa fa-angle-double-right")
				| &nbsp; overview &amp; stats
	div.row
		button.btn.btn-lg.btn-warning#refreshSlide(onclick="refresh()") Refresh Your Slideshow

script.
	var socket = io.connect('http://127.0.0.1:7080');
	socket.on('connect', function() {
		console.log("Connect Socket");
	})

	function refresh() {
		socket.emit("refresh", { time : 0});
	}