<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(charset="utf-8")
		title Dashboard - Cermai Slideshow

		meta(name="description" content="overview &amp; stats")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

		//- !-- bootstrap & fontawesome -->
		link(rel="stylesheet" href="/themes/ace/assets/css/bootstrap.min.css")
		link(rel="stylesheet" href="/themes/ace/assets/font-awesome/4.2.0/css/font-awesome.min.css")

		//- !-- page specific plugin styles

		//- !-- text fonts
		link(rel="stylesheet" href="/themes/ace/assets/fonts/fonts.googleapis.com.css")

		//- !-- ace styles -->
		link(rel="stylesheet" href="/themes/ace/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style")

		script(src="themes/ace/assets/js/ace-extra.min.js")
		link(rel="stylesheet" href="/style/dashboard.css")
	body.no-skin
		div(id="navbar" class="navbar navbar-default")
			script(type="text/javascript").
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}

			div(class="navbar-container" id="navbar-container")
				button(type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar")
					span(class="sr-only") Toggle sidebar

					span.icon-bar

					span.icon-bar

					span.icon-bar

				div(class="navbar-header pull-left")
					a(href="index.html" class="navbar-brand")
						small
							i(class="fa fa-leaf") 
							| &nbsp; CERMAI SLIDESHOW


		div(class="main-container" id="main-container")
			script(type="text/javascript").
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}

			div(id="sidebar" class="sidebar responsive")
				script(type="text/javascript").
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}

				//- Menu
				ul(class="nav nav-list")!= menu

			div(class="main-content")
				div(class="main-content-inner" id="main-content")

		script(src="themes/ace/assets/js/jquery.2.1.1.min.js")
		script(src="/js/main.js")
		script(src="/js/socket.io.js")
		script(src="themes/ace/assets/js/bootstrap.min.js")
		//- Plugin
		script(src="themes/ace/assets/js/jquery.dataTables.min.js")
		script(src="themes/ace/assets/js/jquery.dataTables.bootstrap.min.js")
		script(src="themes/ace/assets/js/dataTables.tableTools.min.js")
		script(src="themes/ace/assets/js/dataTables.colVis.min.js")

		script(src="themes/ace/assets/js/ace-elements.min.js")
		script(src="themes/ace/assets/js/ace.min.js")